@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
}

header {
  background: rgba(0, 0, 0, 0.199);
  min-height: 100vh;
  color: white;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
}
header .hero_name {
  display: flex;
  flex-direction: column;
  line-height: 1.05;
}
header .hero_name h3 {
  font-size: 3rem;
}
header .hero_name h1 {
  font-size: 19rem;
  display: flex;
  justify-content: center;
}
header .hero_name h1::after {
  content: "2024";
  font-size: 4rem;
  display: inline-block;
  transform: rotate(90deg);
  text-align: center;
  margin-left: -9rem;
}

main {
  background-color: #1B2E4E;
  overflow: hidden;
}

.hero_intro {
  height: -moz-max-content;
  height: max-content;
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem;
  padding-top: 6rem;
  color: white;
  border-color: white;
}
.hero_intro .photo_about {
  display: flex;
  align-items: center;
  gap: 20rem;
  line-height: 1.56;
}
.hero_intro .photo_about img {
  max-width: 50rem;
  max-height: 50rem;
}
.hero_intro .photo_about .about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero_intro .photo_about .about h2 {
  font-size: 5rem;
}
.hero_intro .photo_about .about p {
  font-size: 2rem;
  text-align: justify;
}

.hero_skills {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
}
.hero_skills .tools_container {
  padding: 2rem;
  border-radius: 18px;
}
.hero_skills .tools_container legend {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 20px;
}
.hero_skills .tools_container .tools {
  display: flex;
  gap: 2rem;
}
.hero_skills .skills_container {
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 18px;
}
.hero_skills .skills_container legend {
  font-size: 3rem;
  font-weight: 700;
}
.hero_skills .skills_container .skills {
  display: flex;
}
.hero_skills .skills_container .skills p {
  font-size: 1.5rem;
  padding-inline: 1rem;
  border-right: 1px solid white;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.grid fieldset {
  padding-inline: 40px;
  padding-block: 100px;
  position: relative;
  overflow: hidden;
}
.grid legend {
  font-size: 10rem;
  font-weight: 700;
}
.grid p {
  font-size: 4rem;
  position: absolute;
  top: 0;
}
.grid .grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid .grid_container img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 18px;
  transition: 0.3s ease-in-out;
}
.grid .grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid .grid2 img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 18px;
  transition: 0.3s ease-in-out;
}
.grid .grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid .grid3 img {
  width: 100%;
  border-radius: 18px;
  transition: 0.3s ease-in-out;
}

.creator fieldset {
  padding: 2rem;
}
.creator fieldset legend {
  font-size: 3rem;
  font-weight: 700;
}
.creator fieldset .contri {
  display: flex;
  justify-content: space-between;
}
.creator fieldset .contri p {
  font-size: 2rem;
}
.creator fieldset .contri .icon {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.creator fieldset .contri .icon a {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}
.social p {
  font-size: 2rem;
}
.social a {
  font-size: 2rem;
}

.end {
  background-image: url(/img/4015505\ 1.png);
  height: 2rem;
}

.grid img:hover {
  transform: scale(1.06);
  transition: 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */